
/*Style the turtle image to float left with an inset border (just for fun). Play with the margins so it looks appealing to you.*/
#turtle_left{
  float: left;

  border-style: inset;
  border-left-color: black; border-top-color: black;
  margin-left: 10px; margin-right: 20px;
  margin-bottom: 10px;
}

/*Style the cat image to float right, also with a border and margins as needed.*/
#cat_right{
  float: right;
  border-style: inset;
  margin-right: 10px;
  margin-left: 20px;

}

/*Add background colors to the divs (mainly so you can see the spacing).*/
.div3{
  background-color: green;
}

.div4{
  background-color: lightgrey;
}

/*Use the clear property for the line breaks.*/
.clear-it{
  clear: both;
}
