
body {
  /*A background color (#f4ffe4) for the entire page*/
  background-color:#f4ffe4;

  /*A complementary color for the text (#333333)*/
  color: #333333;

  /*A reasonable sans-serif font for the text.  Be sure to include a generic family*/
  font-family: Arial, Helvetica, sans-serif;

  }

header {

  /*A background color (#d5edb3)*/
  background-color: #d5edb3;

  /*The company name is centered*/
  text-align: center;

  /*The company name has a shadow below and to the right*/
  text-shadow: 2px 2px white;

  /*A rounded border (I used a color of #333333 and rounded 15px)*/
  border: 1px solid #333333;
  border-radius: 15px;

  /*Turtle logo is displayed on the right side*/
  background-image: url("turtle2.gif");
  background-position: right;
  background-repeat: no-repeat;

     }


h1 {
  font-weight: bold;
}

/*The company name should always be bold*/
.company_name{
  font-weight: bold;
}

#intro{
  /*The introduction paragraph should be indented.  Other paragraphs should not.*/
  text-indent: 60px;
}

li{
  /*The list of services should have a line spacing of 1.5*/
  letter-spacing: 1.5px;
}
nav a:first-of-type{
  /*The entire menu is indented to be visually appealing (~20px)*/
  margin-left: 20px;
}

/*There is some white space between the menu items*/
nav > a:link{

    /*A background color (#98bf21)*/
    background-color: #98bf21;

    /*Links do not have underlines*/
    text-decoration: none;

    /*Matching text and border (#333333)*/
    color: #333333;

    /*Menu options are displayed in bold*/
    font-weight: bold;

    /*Border is 1px*/
    border: 1px solid #333333;
}

p.motto{

  /*is italicized and centered*/
  text-align: center;
  font-style: italic;

  /*a ridge border with an extra thick left border and color (#99aa33)*/
  border: 6px ridge #99aa33;
  border-left-width: 20px;

}


#wrapper{
  /*The wrapper background color is white*/
  background-color: white;

  /*The wrapper should not be visible above the corners of header */
  border-radius: 25px;

 /*The wrapper is centered and takes 80% of the space*/
  width: 80%;
  margin-left: auto;
  margin-right: auto;


  /*Set a minimum height (550 px) and width (600 px) so that scroll bars appear if the window size is too small.*/
  min-height: 550px;
  min-width: 600px;

}
#content{
  /*There is some space between the the content area text and the wrapper border*/
  padding: 20px;
}
